*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
img,
svg,
picture {
  display: block;
  max-width: 100%;
}
body {
  background-color: #fff0d3d4;
  display: grid;
  place-content: center;
  font-family: monospace;
}
.primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 50px 0;
}
#dice-image {
  margin-block: 80px 40px;
}
button {
  display: inline-block;
  background-color: lightblue;
  border: none;
  outline: none;
  padding: 2em 4em;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  opacity: 0.8;
}
.style {
  height: 32px;
  width: 32px;
}
.picks {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 50px;
  background-color: #fff;
  border-radius: 20px;
  padding: 1em;
}
.animate {
  animation: rolling 1s forwards;
}

@keyframes rolling {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }

  100% {
    transform: rotateY(720deg) rotateX(720deg);
  }
}
